.newsletter input[type="email"] {
	width: 76%;
	background-color: transparent;
	display: inline-block;
	padding: 0px 15px;
	border-color: #fff;
	height: 50px;
	box-sizing: border-box;
	font-size: 16px;
}

.newsletter input[type="submit"] {
	background-position: 14px 15px;
	margin-left: -3px;
	height: 52px;
	width: 52px;
	box-sizing: border-box;
	background-color: #a60311;
	border-color: #a60311;
	background-image: url('images/submit-icon.png');
	background-repeat: no-repeat;
	text-indent: -999em;
	border: 0 !important;
	cursor: pointer;
}

.clear {
	clear: both;
}

.fusion-mobile-menu-icons a::before {
	color: #a7001f !important;
}

.dis-price span {
	color: #000000 !important;
}

@media (min-width:1179px) {
	.inner-page-banner .fusion_builder_column {
		max-height: 300px;
		overflow: hidden;
	}

	/*.fusion-main-menu > ul > li.faqLink {display: none;}*/
}

@media (max-width:1179px) {
	.sigNav {
		list-style: none;
		padding: 0 15px;
		font-weight: 700;
		font-size: 16px;
	}

	.clearButton {
		display: inline-block;
	}

	.row {
		margin-left: 0;
		margin-right: 0;
	}

	.renewDateExpire .row {
		margin-left: -15px;
		margin-right: -15px;
	}

	.inner-page-banner {
		margin-bottom: 30px;
	}

	.inner-page-content {
		margin-bottom: 30px;
	}

	.change_member .row {
		margin-left: -15px;
		margin-right: -15px;
	}

}

@media screen and (-webkit-min-device-pixel-ratio:0) and (max-width:1179px) {
	::i-block-chrome, .form-notary #save_download_form {
		background-color: #a60311;
		color: #ffffff;
		font-size: 14px;
		font-family: 'Lato', sans-serif;
		font-weight: 600 !important;
		display: inline-block;
		height: 40px;
		padding: 0 15px;
		border-radius: 3px;
		line-height: 38px !important;
		text-transform: uppercase;
		border: 0 !important;
		cursor: pointer;
		-webkit-appearance: none;
	}

}

@media (min-width:1020px) and (max-width:1179px) {
	.rev_slider_wrapper .rev_slider .tp-leftarrow.tparrows, .rev_slider_wrapper .rev_slider .tp-rightarrow.tparrows {
		top: 65% !important;
	}

	.slider-text span.slider-our-video::after {
		top: 5px;
	}

	.welcome-section .fusion-column {
		padding: 0 10%;
	}

	#ptsBlock_565853 .ptsActBtn {
		height: 55px;
	}

	.testimonial-home-page .fusion-testimonials {
		padding: 0px 150px;
	}

	.fusion-body .products li.product.type-product.status-publish, #main .products li:nth-child(3n), #main .products li:nth-child(4n), .products li {
		width: 95% !important;
		margin: 0px auto;
	}

	.form-notary .form-group.col-sm-5 ~ .form-group.col-sm-4 {
		width: 100%;
	}

	.fusion-widget-area .fusion-column:first-child .widget_cnss_widget {
		top: -130px;
		width: 200px;
	}

	.contact-info {
		margin-left: 30px;
		width: 48%;
	}

	.fusion-widget-area .fusion-column:first-child .pull-left {
		width: 45%;
	}

	.woocommerce ul.products li .product-images {
		width: 21%;
	}

	.woocommerce ul.products li .product-details {
		width: 50%;
	}

	.Home-price-table .ptsActBtn#purchase-btn-2 {
		height: 60px;
	}

	.Home-price-table .fusion-content-boxes {
		padding: 60px 50px 45px !important;
	}

	.view-cart a, .fusion-main-menu > ul > li > a, .side-nav li a, .login-btn a {
		font-size: 15px;
	}

	.fusion-logo {
		margin: 20px 0 !important;
	}

	body.page-id-167 .post-content .heading h2 {
		margin-bottom: 0 !important;
	}

	.rev_slider_wrapper .rev_slider .tp-rightarrow.tparrows {
		transform: matrix(1, 0, 0, 1, -63, -25) !important;
	}

	.rev_slider_wrapper .rev_slider .tp-leftarrow.tparrows {
		transform: matrix(1, 0, 0, 1, 0, -25) !important;
	}

}

@media (min-width:768px) and (max-width:1019px) {
	.rev_slider_wrapper .rev_slider .tp-leftarrow.tparrows, .rev_slider_wrapper .rev_slider .tp-rightarrow.tparrows {
		top: 69% !important;
	}

	.welcome-section.row {
		margin: 0px;
	}

	.last-in-row {
		padding: 0px !important;
	}

	.Home-price-table .fusion-content-boxes {
		width: 100% !important;
	}

	.testimonial blockquote {
		width: 100%;
	}

	.fusion-footer .fusion-column.col-lg-4.col-md-4.col-sm-4 {
		float: left;
	}

	.fusion-footer .fusion-column.fusion-column-last.col-lg-4.col-md-4.col-sm-4 {
		width: 60% !important;
	}

	.fusion-footer .fusion-columns .fusion-column + .fusion-column {
		float: left !important;
		width: 39% !important;
	}

	.row.managerPersonal {
		margin: 0px 0 20px 0;
	}

	.row.managerPersonal .col-sm-4 {
		padding: 0px;
		margin-bottom: 10px;
	}

	.page-template-GroupPurchase .group-page-form-manager .col-sm-4 .remove-spaces {
		min-height: auto;
	}

	.page-template-GroupPurchase .group-page-form-manager .button-manager {
		margin-top: 20px;
	}

	.fusion-body .products li.product.type-product.status-publish, #main .products li:nth-child(3n), #main .products li:nth-child(4n), .products li {
		width: 90% !important;
	}

	.woocommerce ul.products li .product-details {
		width: 85%;
	}

	.woocommerce ul.products li .product-buttons {
		float: none;
		width: 35%;
	}

	.fusion-layout-column.fusion-one-half {
		width: 100% !important;
		margin-right: 0 !important;
		text-align: center;
	}

	.woocommerce-account .woocommerce-MyAccount-content {
		padding: 0 !important;
	}

	.sign-title {
		padding: 0 15px;
		margin-bottom: 5px;
	}

	.sig.sigWrapper.current {
		padding-left: 15px;
		margin-bottom: 15px;
	}

	.managerDetails .row, .user-details .row {
		margin: 0;
	}

	.managerDetails .col-one-five, .user-details .col-one-five {
		padding: 0 2px;
	}

	.Home-price-table .fusion-content-boxes {
		padding: 60px 40px 45px !important;
	}

	.page-id-58 .fusion-layout-column.fusion-one-half .fusion-imageframe img {
		max-width: 400px;
	}

	.inner-pages-space {
		padding: 120px 0 40px 0;
	}

	.left-align.twoColumns li, .left-align.inlineList li {
		width: 45%;
	}

	.rev_slider_wrapper .rev_slider .tp-rightarrow.tparrows {
		transform: matrix(1, 0, 0, 1, -63, -25) !important;
	}

	.rev_slider_wrapper .rev_slider .tp-leftarrow.tparrows {
		transform: matrix(1, 0, 0, 1, 0, -25) !important;
	}
}

@media all and (min-width:769px) and (max-width:1000px) {
	.right-header {
		margin-right: 40px;
	}

	.fusion-mobile-menu-icons {
		position: absolute;
		z-index: 99;
		top: 20px;
	}

	.fusion-logo a {
		max-width: 75%;
	}

	nav.fusion-mobile-nav-holder {
		position: absolute;
		width: 50%;
		top: 65px;
		right: 5%;
	}

	.row.managerPersonal .col-sm-4 {
		padding: 0 15px;
	}

	body.page-id-167 .post-content .heading h2 {
		margin-bottom: 0 !important;
	}

	.woocommerce-MyAccount-content, .woocommerce-content-box {
		margin-left: 0;
	}

	.woocommerce-MyAccount-navigation, .woocommerce-side-nav {
		float: none;
		width: 100%;
	}

}

@media (min-width: 600px) and (max-width: 1019px) {
	.inner-pages-space {
		padding: 120px 0 40px 0;
	}
}

@media (max-width:768px) {
	.fusion-standard-logo.fusion-logo-2x {
		max-height: 60px !important;
	}

	.right-header {
		padding: 13px 0 0 0;
		line-height: 1;
		float: right;
		margin-right: 40px;
	}

	.fusion-mobile-menu-design-modern.fusion-header-v1 .fusion-header {
		padding-top: 10px;
		padding-bottom: 10px;
	}

	.tp-parallax-wrap {
		top: 33% !important;
	}

	.welcome-section .fusion-column {
		padding: 0px;
	}

	.fusion-mobile-nav-holder {
		top: 73px;
	}

	.fusion-mobile-menu-icons {
		top: 12px;
		position: absolute;
		z-index: 99;
	}

	.slider-text span.slider-partner a, .slider-text span.slider-renew a, .slider-text span.slider-our-video a {
		padding: 15px !important;
	}

	.review.avatar-image blockquote {
		margin: 0 !important;
	}

	.woocommerce ul.products li .product-buttons {
		width: 270px;
		float: none;
		margin: auto !important;
	}

	.woocommerce ul.products li .product-details {
		width: 100%;
		float: none;
		padding: 10px 0px 0 !important;
		text-align: center;
	}

	.woocommerce ul.products li .product-images {
		width: 50%;
		float: none;
		margin: auto;
	}

	.page-id-58 .inner-page-content .fusion-layout-column.fusion-one-half + .fusion-layout-column.fusion-one-half {
		width: 100% !important;
		margin-top: 20px !important;
	}

	.offer-pro-head .plan-heading {
		float: none;
		width: 100%;
		text-align: center;
	}

	.offer-pro-head form.discount_item {
		text-align: center;
		margin-bottom: 30px;
	}

	.offer-pro-head .btn-top {
		float: none;
	}

	.upcells-listing li .select-box-right {
		width: 100%;
		display: block;
		float: none;
	}

	.select-box-right .select-pro-box {
		width: 60%;
		display: block;
		float: right;
	}

	.upcells-listing li .content-middle {
		width: 70%;
	}

	.upcells-listing li .product-left-image {
		width: 30%;
	}

	.policy-select .check-price {
		margin-top: 30px;
	}

	.error-msg {
		position: fixed;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		-webkit-transform: translate(-50%, -50%);
		-moz-transform: translate(-50%, -50%);
		width: 85%;
		background-color: #a60311;
		z-index: 999;
	}

	.welcome-section .content-wrapper-background {
		margin-bottom: 0;
	}

	.container {
		width: 100%;
	}

	body.page-id-167 .post-content {
		padding-top: 120px;
	}

	body.page-id-167 .post-content .heading h2 {
		margin-bottom: 0 !important;
	}

	p.cartStandard strong {
		float: none;
		display: block;
	}

	.full-width.inner-cart.Group.inner-pages-space {
		padding: 120px 0 40px;
	}

	.text-center.bs-wizard-stepnum {
		min-height: 50px;
	}

	.bs-wizard > .bs-wizard-step > .bs-wizard-dot {
		top: 72px;
	}

	.woocommerce #customer_login, .loginPage .createAccount {
		width: 100%;
	}

	a.editIcon {
		right: 10px;
		bottom: 40px;
	}

	.editIcon .icon {
		padding: 15px;
	}

	.editIcon .icon img {
		width: 20px;
	}

	.editIcon .showTitle {
		opacity: 1;
	}

	.fusion-footer-widget-column {
		margin-bottom: 0;
	}

	.select2-hidden-accessible {
		visibility: hidden;
	}

	.myProgress span {
		bottom: -40px;
		min-height: 35px;
	}

	.test.groupOrder > tbody > tr:last-child > td {
		padding-bottom: 50px !important;
	}

	.notification {
		float: right;
		margin-top: 7px;
		margin-left: 0;
		position: relative;
		margin-right: 25px;
	}

	.notification ul.dropdown-menu li {
		padding: 10px 0;
	}

	.notification .dropdown-menu li a {
		background-image: url(images/notification-close.png);
		background-repeat: no-repeat;
		background-position: 95% 50%;
		background-size: 15px;
		padding: 5px 0;
	}

}

@media all and (max-width:767px) {
	.container {
		width: 95%;
	}

	.managerDetails .row, .user-details .row {
		margin: 0;
	}

	.managerDetails .col-one-five, .user-details .col-one-five {
		padding: 0 2px;
	}

	.form-notary {
		padding: 10px;
		margin-left: -15px;
		margin-right: -15px;
	}

	.woocommerce-account .post-348 .woocommerce-MyAccount-content {
		padding: 0 !important;
	}

	.post-348 .table > tbody > tr > th, .post-348 .table > thead > tr > th {
		padding: 10px;
	}

	.post-348 .table > tbody > tr > td, .post-348 .table > tfoot > tr > td, .table > thead > tr > td {
		padding: 10px;
	}

	.my_account_orders .woocommerce-orders-table__cell-order-status, .my_account_orders .woocommerce-orders-table__cell-order-date {
		display: table-cell;
	}

	.modal-body .memberName {
		margin-bottom: 10px;
	}

	.memberOptions-popup .selct-variations {
		padding: 10px;
	}

	.login-btn, .view-cart {
		margin-top: 2px
	}

	.right-header .login-btn a {
		font-size: 12px;
		font-weight: 600;
		height: 34px !important;
		line-height: 32px !important;
		padding: 0 10px;
	}

	.fusion-mobile-menu-icons {
		top: 19px !important;
	}

	nav.fusion-mobile-nav-holder {
		top: 53px;
	}

	.fusion-header-wrapper {
		position: relative;
	}

	.avada-skin-rev {
		border-top: 0px solid #d2d3d4;
	}

	.Home-price-table .fusion-content-boxes {
		padding: 30px 0px 0px !important;
	}

	.testimonial-home-page .fusion-testimonials {
		padding: 0px 0px;
	}

	.inner-page-banner .fusion-content-boxes {
		top: 50%;
		z-index: 9;
		transform: translateY(-50%);
		-webkit-transform: translateY(-50%);
		-moz-transform: translateY(-50%);
	}

	.my_account_orders .woocommerce-orders-table__cell-order-actions a:after, .woocommerce-MyAccount-downloads .download-actions a:after {
		position: static;
	}

	.sigPad {
		width: 100%;
		padding: 0;
	}

	body.page-id-167 .post-content {
		padding-top: 30px;
	}

	p.cartStandard strong {
		float: none;
		display: block;
	}

	.full-width.inner-cart.Group.inner-pages-space {
		padding: 40px 0;
	}

	.shop_table.woocommerce-checkout-review-order-table td, .shop_table.woocommerce-checkout-review-order-table thead tr th {
		padding-left: 10px !important;
	}

	.checkout .shop_table.woocommerce-checkout-review-order-table tfoot th {
		text-align: left;
		padding-left: 10px;
	}

	.packageRenewBox .ml-responsive-table {
		margin-bottom: 30px;
		background-color: #f9f9f9;
	}

	#newResponsive + div a {
		color: #a7001f;
		text-decoration: underline;
	}

	#newResponsive + div a:hover {
		color: #334667;
	}

	.my_account_orders.account-orders-table + div a {
		color: #a7001f;
	}

	.my_account_orders.account-orders-table + div a:hover {
		color: #334667;
	}

	.memberName input, .memberEmail input {
		padding: 0 15px;
		overflow: hidden;
	}

	/*#myModal {position:absolute;}*/
	.modal-open {
		position: fixed;
	}

	.row.bs-wizard {
		display: none;
	}

	.signature-pad {
		max-height: 300px;
	}

	.myProgress2, .myProgress {
		margin-bottom: 15px;
	}

	.dashboardMenu {
		display: block;
	}

	nav.woocommerce-MyAccount-navigation {
		display: none;
	}

	.woocommerce-MyAccount-content {
		margin-top: 30px;
	}

	nav.woocommerce-MyAccount-navigation {
		padding: 10px;
		border: 1px solid #e0dede;
	}

	.woocommerce-MyAccount-navigation ul li:last-child a {
		border-bottom: 0px;
	}

	.signature-pad {
		padding: 0px !important;
	}

	.left-align.twoColumns li, .left-align.inlineList li {
		width: 100%;
		margin-right: 0;
	}

	/*.rev_slider_wrapper .rev_slider .tparrows {transform:none !important;}*/
	.rev_slider_wrapper .rev_slider .tp-rightarrow.tparrows {
		transform: matrix(1, 0, 0, 1, -63, 0) !important;
	}

	.rev_slider_wrapper .rev_slider .tp-leftarrow.tparrows {
		transform: matrix(1, 0, 0, 1, 0, 0) !important;
	}

	.change_member input.new_password {
		margin-bottom: 10px;
	}

	.view-cart a {
		font-size: 0;
		height: 24px;
		width: 24px;
		display: block;
		background-size: 20px;
		background-position: center;
	}

	.right-header .view-cart span.counter {
		right: -10px;
	}

	.notification {
		margin-left: 0px;
	}

}

@media all and (min-width:600px) and (max-width:767px) {
	.wrapper {
		width: 570px
	}

	.fusion-footer-widget-column {
		margin-bottom: 0;
	}

	.fusion-footer .fusion-widget-area .fusion-column:first-child {
		margin-bottom: 0;
	}

	.fusion-widget-area .fusion-column:first-child .widget_cnss_widget {
		top: -60px;
	}

	/*.rev_slider_wrapper .rev_slider .tp-leftarrow.tparrows, .rev_slider_wrapper .rev_slider .tp-rightarrow.tparrows{top:55% !important;}*/
	.fusion-footer .fusion-widget-area .fusion-column:first-child {
		width: 100% !important;
	}

	.fusion-footer .fusion-columns .fusion-column + .fusion-column {
		float: left !important;
		width: 50% !important;
	}

	.slider-text a {
		font-size: 15px !important;
		line-height: 18px !important;
	}

	.tp-parallax-wrap {
		left: 200px !important;
		top: 25% !important;
	}

	.slider-text span.slider-our-video:after {
		width: 27px;
		height: 27px;
		top: 6px;
		background-size: cover;
	}

	#ptsBlock_79611 .ptsCol.hover .ptsTableElementContent {
		margin-top: 0px !important;
	}

	.fusion-logo {
		width: 180px;
	}

	.right-header {
		float: right;
	}

	.login-btn {
		margin-right: 0;
		margin-left: 0;
	}

	.fusion-mobile-menu-icons {
		position: absolute;
		top: 25px;
	}

	.offer-pro-head .btn-top {
		float: none;
		margin-bottom: 20px;
		text-align: center;
	}

	.groupManager {
		padding: 20px;
	}

	.row.managerPersonal {
		margin: 0px 0 20px 0;
	}

	.row.managerPersonal .col-sm-4 {
		padding: 0px;
		margin-bottom: 10px;
	}

	.page-template-GroupPurchase .group-page-form-manager .col-sm-4 .remove-spaces {
		min-height: auto;
	}

	.page-template-GroupPurchase .group-page-form-manager .button-manager {
		margin-top: 20px;
	}

	.fusion-body .products li.sold-individually {
		width: 90%;
	}

	.woocommerce ul.products li .product-buttons {
		float: none;
		width: 35%;
		margin: auto !important;
	}

	.fusion-layout-column.fusion-one-half {
		text-align: center;
	}

	.wp-image-180 {
		margin-bottom: 30px;
	}

	.sign-title {
		padding: 0 15px;
		margin-bottom: 5px;
	}

	.sig.sigWrapper.current {
		padding-left: 0;
		margin-bottom: 0;
	}

	nav.fusion-mobile-nav-holder {
		position: absolute;
		width: 50%;
		top: 52px;
		right: 5%;
	}

	body.page-id-167 .post-content .heading h2 {
		margin-bottom: 0 !important;
	}

	#customer_login .woocommerce-form__label.woocommerce-form__label-for-checkbox.inline {
		margin-top: 20px !important;
		margin-bottom: 10px;
	}

}

@media only screen and (min-width:801px) and (max-width:900px) {
	.testimonial-home-page .fusion-testimonials {
		padding: 0 15px !important;
	}

	.fusion-logo a {
		max-width: 75%;
	}

	.fusion-footer .fusion-column.fusion-column-last.col-lg-4.col-md-4.col-sm-4 {
		width: 33.33% !important;
	}

	.fusion-footer .fusion-columns .fusion-column + .fusion-column {
		width: 26.33% !important;
	}

	.fusion-widget-area .fusion-column:first-child .widget_cnss_widget {
		top: -30px !important;
	}

	.fusion-widget-area .fusion-column:first-child {
		width: 40% !important;
	}

	.slider-text span.slider-our-video::after {
		top: 5px !important;
		width: 22px !important;
		height: 22px !important;
		background-size: 22px !important;
	}

	.welcome-section .fusion-column {
		padding: 0 2% !important;
	}

	.inner-pages-space {
		padding: 0px 0 0 0;
	}

}

@media (max-width:800px) {

	/*	.woocommerce-cart form .woocommerce-content-box.full-width.clearfix {width:100%; overflow-x:auto;}
	.woocommerce-cart form .woocommerce-content-box.full-width.clearfix table.shop_table {width: 600px;}*/
	.shop_table .product-remove {
		width: 100% !important;
		padding-left: 0 !important;
	}

	.shop_table .product-thumbnail, .shop_table .product-name {
		width: 100% !important;
	}

	.shop_table tbody tr {
		height: auto !important;
	}

	.shop_table td {
		padding: 10px;
	}

	.shop_table td, .shop_table thead tr th {
		padding: 10px !important;
		padding-left: 32% !important;
	}

	.shop_table .product-remove a {
		position: absolute !important;
		top: 0px !important;
		right: 0;
		z-index: 9;
		background-color: #a7001f;
		width: 40px;
		text-align: center;
		display: inline-block !important;
		line-height: 38px;
		color: #fff !important;
		font-size: 26px !important;
		left: auto !important;
		transform: none !important;
	}

	.shop_table  .change-package {
		display: none !important;
	}

	.shop_table .product-remove {
		position: static !important;
		padding: 0 !important;
		border: 0 !important;
	}

	.shop_table .product-remove:before {
		display: none !important;
	}

	.shop_table  tbody {
		padding-top: 0px !important;
	}

	.woocommerce-cart .change-package {
		width: 110px;
		text-align: center;
		display: block;
	}

	p.cartStandard strong {
		margin-left: 5px;
		display: inline-block;
	}

	.shop_table tr.cart_item {
		position: relative !important;
	}

	.woocommerce-cart-form-new table.shop_table.shop_table_responsive.woocommerce-cart-form__contents {
		margin-top: 0px;
	}

	.shop_table.shop_table_responsive.cart.woocommerce-cart-form__contents tr, .shop_table.shop_table_responsive1.cart1 tr {
		padding-top: 0;
		padding-bottom: 0;
	}

}

@media screen and (max-width:800px) {
	table.shop_table.cart, table.shop_table.cart thead, table.shop_table.cart tbody, table.shop_table.cart th, table.shop_table.cart td, table.shop_table.cart tr, table.shop_table.cart1, table.shop_table.cart1 thead, table.shop_table.cart1 tbody, table.shop_table.cart1 th, table.shop_table.cart1 td, table.shop_table.cart1 tr {
		display: block;
	}

	table.shop_table.cart thead tr, table.shop_table.cart1 thead tr {
		position: absolute;
		top: -9999px;
		left: -9999px;
	}

	table.shop_table.cart tr, table.shop_table.cart1 tr {

		/*border: 1px solid #d2d3d3; */
	}

	table.shop_table.cart td, table.shop_table.cart1 td {

		/* Behave  like a "row" */ border: 1px solid #d2d3d3;
		position: relative;
		padding-left: 30% !important;
		text-align: left !important;
	}

	table.shop_table.cart1  .product-thumbnail {
		border-right: 1px solid #d2d3d3 !important;
	}

	.shop_table.shop_table_responsive.cart.woocommerce-cart-form__contents tr, .shop_table.shop_table_responsive1.cart1 tr {
		border-bottom: 1px solid #334667 !important;
	}

	table.shop_table.cart, table.shop_table.cart1 {
		border: none;
	}

	table.shop_table.cart td.product-spacer, table.shop_table.cart1 td.product-spacer {
		border-color: #FFF;
		height: 10px;
	}

	table.shop_table.cart td:before, table.shop_table.cart1 td:before {
		position: absolute;
		top: 13px;
		left: 6px;
		width: 45%;
		font-size: 14px;
		padding-right: 10px;
		white-space: nowrap;
	}

	table.shop_table.cart td.product-remove:before, table.shop_table.cart1 td.product-remove:before {
		content: "Delete";
	}

	table.shop_table.cart td.product-thumbnail:before, table.shop_table.cart1 td.product-thumbnail:before {
		content: "Image";
	}

	table.shop_table.cart td.product-name:before, table.shop_table.cart1 td.product-name:before {
		content: "Product";
	}

	table.shop_table.cart td.product-price:before, table.shop_table.cart1 td.product-price:before {
		content: "Price";
	}

	table.shop_table.cart td.product-quantity:before, table.shop_table.cart1 td.product-quantity:before {
		content: "Quantity";
	}

	table.shop_table.cart td.product-subtotal:before, table.shop_table.cart1 td.product-subtotal:before {
		content: "Subtotal";
	}

	table.shop_table.cart td.product-total:before, table.shop_table.cart1 td.product-total:before {
		content: "Total";
	}

	.woocommerce .quantity, .woocommerce #content .quantity, .quantity, #content .quantity {
		margin: 0;
	}

	table.cart td.actions, #content table.cart td.actions, table.cart1 td.actions, #content table.cart1 td.actions {
		text-align: left;
		border: 0;
		padding-left: 6px !important;
	}

	table.cart td.actions .button.alt, #content table.cart td.actions .button.alt, table.cart1 td.actions .button.alt, #content table.cart1 td.actions .button.alt {
		float: left;
		margin-top: 10px;
	}

	table.cart td.actions div, #content table.cart td.actions div, table.cart td.actions input, #content table.cart td.actions input, table.cart1 td.actions div, #content table.cart1 td.actions div, table.cart1 td.actions input, #content table.cart1 td.actions input {
		margin-bottom: 10px;
	}

	.cart-collaterals .cart_totals {
		float: left;
		width: 100%;
		text-align: left;
	}

	.cart-collaterals .cart_totals table tr.total td {
		padding-left: 6px !important;
	}

	table.shop_table.cart tbody, table.shop_table.cart1 tbody {
		padding-top: 10px;
	}

	.woocommerce .col2-set .col-1, .col2-set .col-1, .woocommerce .col2-set .col-2, .col2-set .col-2, .woocommerce form .form-row-first, .woocommerce form .form-row-last, form .form-row-first, form .form-row-last {
		float: none;
		width: 100%;
	}

	.woocommerce .order_details ul, .order_details ul, .woocommerce .order_details, .order_details {
		padding: 0;
	}

	.woocommerce .order_details li, .order_details li {
		clear: left;
		margin-bottom: 10px;
		border: 0;
	}

	.group-final-total .cart_totals {
		width: 100%;
		float: none;
	}

	.woocommerce-cart .woocommerce {
		padding: 0;
	}

	.shop_table .product-thumbnail:before {
		display: none !important;
	}

	.shop_table .product-thumbnail img {
		width: auto;
	}

}

.fusion-imageframe img {
	width: 100%;
}

@media (max-width:599px) {
	.slider-text {
		display: block !important;
	}

	.slider-text span {
		display: block;
		float: none;
		width: 200px !important;
		height: 30px;
	}

	.rev_slider .caption, .rev_slider .tp-caption {
		left: 40px;
	}

	.slider-text span a {
		font-size: 14px !important;
	}

	#payment .place-order {
		padding: 0 10px;
	}

}

@media (max-width:640px) {
	.woocommerce-billing-fields__field-wrapper #billing_address_1_field, .woocommerce-billing-fields__field-wrapper #billing_city_field, .woocommerce-billing-fields__field-wrapper #billing_phone_field, .woocommerce-billing-fields__field-wrapper #billing_email_field, .woocommerce-shipping-fields__field-wrapper #shipping_address_1_field, .woocommerce-shipping-fields__field-wrapper #shipping_city_field, .woocommerce-shipping-fields__field-wrapper #shipping_phone_field, .woocommerce-shipping-fields__field-wrapper #shipping_email_field, .create-account #account_password_field {
		float: none;
		width: 100%;
	}

	.woocommerce-billing-fields__field-wrapper #billing_address_2_field, .woocommerce-shipping-fields__field-wrapper #shipping_address_2_field {
		width: 100%;
		float: none;
		padding-top: 0px;
	}

	.woocommerce-billing-fields__field-wrapper #billing_state_field, .woocommerce-billing-fields__field-wrapper #billing_postcode_field, .woocommerce-shipping-fields__field-wrapper #shipping_state_field, .woocommerce-shipping-fields__field-wrapper #shipping_postcode_field {
		float: none;
		margin-left: 0%;
		width: 100%;
		margin-right: 0%;
	}

	.woocommerce-address-fields  #billing_address_1_field, .woocommerce-address-fields  #shipping_address_1_field, .woocommerce-address-fields  #billing_city_field, .woocommerce-address-fields  #shipping_city_field, .woocommerce-address-fields  #billing_phone_field, .woocommerce-address-fields  #shipping_phone_field, .woocommerce-address-fields  #billing_email_field, .woocommerce-address-fields  #shipping_email_field, .create-account #account_password_field, .woocommerce-address-fields #billing_first_name_field, .woocommerce-address-fields #shipping_first_name_field, .woocommerce-address-fields #billing_last_name_field, .woocommerce-address-fields #shipping_last_name_field {
		float: none;
		width: 100%;
	}

	.woocommerce-address-fields  #billing_address_2_field, .woocommerce-address-fields  #shipping_address_2_field {
		width: 100%;
		float: none;
		padding-top: 0px;
	}

	.woocommerce-address-fields  #billing_state_field, .woocommerce-address-fields  #shipping_state_field, .woocommerce-address-fields  #billing_postcode_field, .woocommerce-address-fields  #shipping_postcode_field {
		float: none;
		margin-left: 0%;
		width: 100%;
		margin-right: 0%;
	}

	#customer_login .woocommerce-form__label.woocommerce-form__label-for-checkbox.inline {
		margin-top: 20px !important;
		margin-bottom: 10px;
	}

	.above-footer-wrapper #main {
		padding-left: 10px;
		padding-right: 10px;
	}

	.shop_table td.product-name {
		padding: 10px 40px !important;
	}

	.slider-text span.slider-our-video:after {
		width: 23px;
		height: 23px;
		top: 4px;
		background-size: 100%;
	}

}

@media (min-width:480px) and (max-width:599px) {
	.fusion-widget-area .fusion-column:first-child .widget_cnss_widget {
		top: 0;
	}

	.fusion-widget-area .fusion-column:first-child .widget_cnss_widget ul {
		text-align: left !important;
	}

	.welcome-section .fusion-column {
		padding: 0px 5%;
	}

	.upcells-listing li .select-box-right {
		width: 100%;
	}

	.upcells-listing li .select-box-right .remove-spaces {
		min-height: auto;
	}

	.offer-pro-head .btn-top {
		float: none;
		margin-bottom: 20px;
		text-align: center;
	}

	.groupManager {
		padding: 20px;
	}

	.row.managerPersonal {
		margin: 0px 0 20px 0;
	}

	.row.managerPersonal .col-sm-4 {
		padding: 0px;
		margin-bottom: 10px;
	}

	.page-template-GroupPurchase .group-page-form-manager .col-sm-4 .remove-spaces {
		min-height: auto;
	}

	.page-template-GroupPurchase .group-page-form-manager .button-manager {
		margin-top: 20px;
	}

	.fusion-layout-column.fusion-one-half {
		text-align: center;
	}

	.wp-image-180 {
		margin-bottom: 30px;
	}

	.modal-body .memberName {
		margin-bottom: 10px;
	}

	.memberOptions-popup .selct-variations {
		padding: 10px 0;
	}

	.fusion-standard-logo.fusion-logo-2x {
		max-height: 47px !important;
	}

	.right-header {
		padding-top: 10px;
	}

	.fusion-logo {
		float: left;
	}

	.fusion-mobile-menu-icons {
		top: 10px !important;
	}

	nav.fusion-mobile-nav-holder {
		top: 60px;
	}

	.woocommerce ul.products li .product-buttons {
		width: 100%;
		float: none;
		margin-left: 0 !important;
	}

	.woocommerce ul.products li .product-details {
		width: 100%;
		float: none;
		padding: 10px 0px 0 !important;
		text-align: center;
	}

	.woocommerce ul.products li .product-images {
		width: 50%;
		float: none;
		margin: auto;
	}

	.fusion-widget-area .fusion-column:first-child .pull-left {
		float: none;
	}

	.woocommerce-content-box.avada-checkout .col2-set {
		padding: 15px;
	}

	.woocommerce-checkout .avada-checkout {
		margin-bottom: 0px !important;
	}

	.checkout #place_order {
		float: none;
		width: 95%;
	}

	.payment_methods li img {
		max-width: 210px;
	}

	.woocommerce-checkout-payment .place-order {
		text-align: center;
		margin-bottom: 10px;
	}

	.checkout .payment_methods li.wc_payment_method.payment_method_paypal, .checkout .payment_methods li.wc_payment_method.payment_method_cheque {
		padding: 0 15px;
	}

	.multiBtns.previewPage {
		text-align: left !important;
		margin-top: 0 !important;
	}

	.woocommerce #customer_login .login .button {
		margin-bottom: 10px !important;
	}

	.inlineBtns .fusion-button-wrapper.fusion-aligncenter {
		display: block;
		margin: 0;
		margin-bottom: 15px;
	}

}

@media (max-width: 395px) {
	.right-header {
		margin-top: 1px;
		margin-bottom: 6px;
	}
}

@media all and (max-width:480px) {
	.packageRenewBox {
		overflow-x: scroll;
	}

	.woocommerce-MyAccount-content table {
		background-color: transparent !important;
	}

	.fusion-header-wrapper {
		position: relative !important;
	}

	.fusion-mobile-menu-icons .fusion-icon-shopping-cart {
		display: none !important;
	}

	.right-header .login-btn {
		margin-top: 2px;
	}

	.fusion-mobile-menu-icons {
		float: right;
		margin-top: 5px !important;
	}

	.right-header .login-btn a {
		font-size: 12px;
		font-weight: 600;
		height: 34px !important;
		line-height: 32px !important;
		padding: 0 10px;
	}

	.fusion-header {
		padding: 10px 20px !important;
	}

	/*.slider-text {display:none !important;}*/
	.fusion-content-boxes .content-wrapper-background {
		padding: 20px 0 !important;
	}

	#main .fusion-portfolio h2,
	#main .post h2,
	#wrapper #main .post h2,
	#wrapper #main .post-content .fusion-title h2,
	#wrapper #main .post-content .title h2,
	#wrapper .fusion-title h2,
	#wrapper .post-content h2,
	#wrapper .title h2,
	#wrapper .woocommerce .checkout h3,
	.fusion-modal h2,
	.fusion-widget-area h2,
	.woocommerce .checkout h3,
	h2.entry-title {
		font-size: 22px !important;
	}

	.upcells-listing li .product-left-image {
		width: 100%;
		border-right: 0;
		border-bottom: 2px solid #d2d2d2;
		padding-right: 0px;
		padding-bottom: 20px;
		margin-bottom: 15px;
	}

	.offer-pro-head .btn-top {
		float: none;
		margin-bottom: 20px;
		text-align: center;
	}

	.upcells-listing li .content-middle {
		width: 100%;
	}

	.upcells-listing li .select-box-right {
		width: 100%;
	}

	.upcells-listing li .select-box-right .remove-spaces {
		min-height: 1px;
	}

	.groupManager {
		padding: 20px;
	}

	.row.managerPersonal {
		margin: 0px 0 20px 0;
	}

	.row.managerPersonal .col-sm-4 {
		padding: 0px;
		margin-bottom: 10px;
	}

	.page-template-GroupPurchase .group-page-form-manager .col-sm-4 .remove-spaces {
		min-height: auto;
	}

	.page-template-GroupPurchase .group-page-form-manager .button-manager {
		margin-top: 20px;
	}

	.Home-price-table .ptsColDesc p span {
		font-size: 18px !important;
	}

	.ptsTableFrontedShell .ptsBlockContent .ptsActBtn .ptsEditArea {
		font-size: 12px !important;
	}

	.woocommerce ul.products li .product-buttons {
		width: 100%;
		float: none;
		margin-left: 0 !important;
	}

	.woocommerce ul.products li .product-details {
		width: 100%;
		float: none;
		padding: 10px 0px 0 !important;
		text-align: center;
	}

	.woocommerce ul.products li .product-images {
		width: 100%;
		float: none;
		margin: auto;
	}

	.fusion-layout-column.fusion-one-half {
		text-align: center;
	}

	.wp-image-180 {
		margin-bottom: 30px;
	}

	.modal-header .modal-title {
		font-size: 18px !important;
	}

	.memberOptions .popup-pro-variations {
		font-size: 15px !important;
	}

	.col-one-five {
		width: 100% !important;
	}

	#add, .btn {
		font-size: 14px !important;
		padding: 0 10px !important;
	}

	.member-extra-info span {
		display: block !important;
	}

	.member-extra-info a {
		display: inline-block !important;
	}

	.plantable tbody td {
		width: 100% !important;
		padding: 5px !important;
	}

	.plantable thead th {
		width: 100% !important;
		padding: 5px !important;
	}

	.managerCart .shop_table td, .managerCart .shop_table thead tr th {
		padding: 5px !important;
	}

	.managerCart {
		margin-bottom: 25px !important;
	}

	.inner-cart {
		padding-bottom: 30px !important;
	}

	.plantable thead th {
		font-family: "Montserrat", sans-serif !important;
	}

	.managerTotal {
		padding: 10px 10px;
		font-size: 15px !important;
	}

	.post-content div[style="margin-top:50px;margin-bottom:30px "] {
		margin-top: 0 !important;
	}

	.woocommerce-MyAccount-content .packageRenewBox {
		position: relative;
	}

	.woocommerce-MyAccount-content h2 + .packageRenewBox {
		padding-top: 30px;
	}

	.woocommerce-MyAccount-content h2 + .packageRenewBox:before {
		content: "Scroll left to right to see full table";
		color: #a7001f;
		left: 0;
		top: 0;
		position: absolute;
		font-size: 12px;
	}

	.select-box-right .select-pro-box {
		width: 100%;
		display: table-cell;
		vertical-align: bottom;
	}

	.variation-product {
		float: none;
	}

	.woocommerce-content-box.avada-checkout .col2-set {
		padding: 15px;
	}

	.woocommerce-checkout .avada-checkout {
		margin-bottom: 0px !important;
	}

	.checkout #place_order {
		float: none;
		width: 95%;
	}

	.payment_methods li img {
		max-width: 200px;
		position: absolute;
		left: 15px;
		bottom: 0;
		display: none;
	}

	.woocommerce-checkout-payment .place-order {
		text-align: center;
		margin-bottom: 10px;
	}

	.checkout .payment_methods li.wc_payment_method.payment_method_paypal, .checkout .payment_methods li.wc_payment_method.payment_method_cheque {
		padding: 0 15px;
		position: relative;
	}

	.checkout .payment_methods li.wc_payment_method.payment_method_paypal {
		padding-bottom: 80px !important;
	}

	.shop_table .product-thumbnail img {
		width: 90px !important;
	}

	.tableWrap {
		overflow-x: auto;
		width: 100%;
	}

	.tableWrap table {
		width: 600px;
		overflow-x: visible;
	}

	.view-cart a {
		display: block;
		text-indent: -111em;
		width: 30px;
		height: 30px;
		padding-left: 0;
		background-position: center;
	}

	.view-cart .counter {
		text-indent: 0em;
		right: -10px;
		top: -10px;
	}

	.right-header .login-btn a {
		font-size: 12px;
		height: 30px !important;
		line-height: 28px !important;
		padding: 0 5px;
		text-transform: capitalize;
	}

	.right-header {
		padding-top: 4px;
		line-height: 1;
		height: 30px;
		margin-right: 0;
	}

	.sigPad canvas {
		width: 100% !important;
	}

	.groupOrder tr, .groupOrder td {
		display: block;
		width: 100% !important;
	}

	.sendgrid_mc_button_div {
		right: 0;
	}

	h3.section-heading {
		font-size: 18px !important;
	}

	.signature-pad {
		max-height: 200px;
	}

	#customer_login .woocommerce-form__label.woocommerce-form__label-for-checkbox.inline {
		margin-top: 20px !important;
		margin-bottom: 10px;
	}

	.multiBtns.previewPage {
		text-align: left !important;
		margin-top: 0 !important;
	}

	.getStarted {
		display: inline-block;
		height: 45px;
		font-size: 16px !important;
		vertical-align: top;
		line-height: 45px !important;
		font-weight: 400 !important;
		padding: 0 15px !important;
	}

	button.button.clear.btn {
		left: 76px;
	}

	.woocommerce #customer_login .login .button {
		margin-bottom: 10px !important;
	}

	.fbButton {
		float: none;
	}

	.woocommerce-cart-form__cart-item.cart_item {
		display: flex !important;
		flex-direction: column;
	}

	.woocommerce-cart-form__cart-item.cart_item .product-thumbnail {
		display: none !important;
	}

	.woocommerce-cart-form__cart-item.cart_item .product-name {
		order: 1;
	}

	.woocommerce-cart-form__cart-item.cart_item .product-subtotal {
		order: 3;
	}

	.woocommerce-cart-form__cart-item.cart_item td {
		height: auto !important;
	}

	.inlineBtns .fusion-button-wrapper.fusion-aligncenter {
		display: block;
		margin: 0;
		margin-bottom: 15px;
	}

	p.thwepo-extra-options.form-row.form-row-wide {
		width: 100%;
	}

	.notification {
		margin-top: 0;
		margin-left: -7px;
		margin-right: 0;
	}

	.notification > a {
		line-height: 33px;
	}

}

@media all and (max-width:479px) {
	.wrapper {
		width: 95%
	}

	ul.cnss-social-icon {
		text-align: left !important;
	}

	.fusion-widget-area .fusion-column:first-child .widget_cnss_widget {
		top: 0;
	}

	.fusion-columns .fusion-column:not(.fusion-column-last), .fusion-footer-widget-column {
		margin: 0 0 20px;
	}

	.woocommerce-MyAccount-content {
		overflow-x: scroll;
	}

	.woocommerce-MyAccount-content .shop_table_responsive {
		overflow-x: scroll;
		background-color: #f7f7f7 !important;
	}

	.coupon .button {
		margin: 20px auto 0;
		width: 100%;
		float: none;
		display: block;
		clear: both;
	}

	.checkout-button {
		margin: 0px auto;
		width: 100%;
		float: none;
		display: block;
		clear: both;
	}

	.form-notary .form-group input {
		width: 100%;
		margin: 5px 0;
	}

	.form-notary .form-group select {
		width: 100%;
	}

	.form-notary .form-group input[type="checkbox"] {
		width: auto;
	}

	.Home-price-table .fusion-content-boxes {
		padding: 20px 0 !important;
	}

	.fusion-mobile-menu-icons {
		top: 0px !important;
		right: -5px;
	}

	.logged-in .fusion-mobile-menu-icons {
		top: 27px !important;
    	right: -5px;
	}


	.fusion-mobile-menu-icons a {
		margin-left: 0;
	}

	.fusion-standard-logo.fusion-logo-2x {
		max-height: 40px !important;
	}

	.g-recaptcha {
		transform: scale(0.77);
		-webkit-transform: scale(0.77);
		transform-origin: 0 0;
		-webkit-transform-origin: 0 0;
	}

	#rc-imageselect {
		transform: scale(0.77);
		-webkit-transform: scale(0.77);
		transform-origin: 0 0;
		-webkit-transform-origin: 0 0;
	}

	form.checkout #billing_last_name_field, form.checkout #shipping_last_name_field, form.checkout #billing_first_name_field, form.checkout #shipping_first_name_field {
		float: none;
		width: 100%;
	}

	.inner-pages-space {
		padding: 30px 0 0 0;
	}

	.shop_table .product-thumbnail {
		width: 38% !important;
	}

	.shop_table .product-thumbnail:before {
		display: none !important;
	}

	.shop_table tr.woocommerce-cart-form__cart-item .product-thumbnail {
		width: 100% !important;
	}

	.shop_table thead tr th.product-name {
		width: 31% !important;
	}

	.shop_table .product-thumbnail img {
		width: 90px !important;
	}

	.tableWrap {
		overflow-x: auto;
		width: 100%;
	}

	.tableWrap table {
		width: 600px;
		overflow-x: visible !important;
	}

	.right-header .login-btn a {
		width: 31px;
		height: 31px !important;
		text-indent: -111em;
	}

	.right-header {
	    margin-right: 0px;
	    /*width: 100%;*/
	    padding-top: 0;
	}
	.logged-in .fusion-header {
	    padding: 5px 10px 20px !important;
	}
	.right-header .view-cart {margin-right: 15px;}

	/*.right-header .view-cart, .right-header .notification {float: left;}*/

	.notification .dropdown-menu {right: -130px;}
	.notification .dropdown-menu:before {right: 130px;}

	.logged-in .right-header .login-btn {margin-right: 0; }
	.right-header .login-btn {margin-right: 25px;}

	.login-btn a.logoutBtn {
		background-image: url('images/logout.png');
		background-repeat: no-repeat;
		background-position: center;
		background-size: 16px 16px;
	}

	.form-notary .form-group input[type="radio"] {
		width: auto;
	}

	.post-296 a.btn.fl-right {
		float: none;
		margin-bottom: 10px;
	}

	.groupPurchaseForm {
		margin-top: 0 !important;
		margin-bottom: 0 !important;
	}

	.multiBtns .pull-right.btn {
		float: none;
		display: inline-block;
		margin-bottom: 30px;
	}

	.multiBtns #add {
		margin-bottom: 10px;
	}

	.multiBtns {
		text-align: center;
	}

	.signature-pad + .multibtns {
		text-align: left;
	}

	.variations .value {
		max-width: 100px !important;
	}

	.avada-select-parent select {
		min-width: 1px !important;
	}

	.rev_slider_wrapper .rev_slider .tp-rightarrow.tparrows {
		transform: matrix(1, 0, 0, 1, -44, 0) !important;
	}

	.content-middle .contact-left li a {
		font-size: 14px;
		padding-left: 30px !important;
	}

	table.shop_table.cart td:before, table.shop_table.cart1 td:before {
		position: static;
		width: 100%;
		display: block;
		font-weight: 700;
		color: #000;
	}

	table.shop_table.cart td, table.shop_table.cart1 td {
		padding-left: 5% !important;
	}

	.homeBtnBox .fusion-button-wrapper {
		float: none;
		margin-left: 0;
	}

	.fusion-column-last.homeBtnBox {
		margin-top: 15px !important;
	}

	.myProgress span {
		bottom: 8px;
		min-height: 35px;
	}

	.woocommerce-MyAccount-content table.groupOrder tbody table tbody tr {
		border: 0px solid #eee;
		margin-top: 20px;
	}

	.myProgress {
		margin-bottom: 25px;
	}

	.test.groupOrder > tbody > tr:last-child > td {
		padding-bottom: 0px !important;
	}

	.notification {
		margin-top: 0;
		margin-right: 15px;
	}
}

@media (min-width:370px) and (max-width:479px) {
	.multiBtns .pull-right.btn {
		margin-bottom: 10px;
	}
}

@media (max-width:380px) {
	.fbButton {
		margin-top: 15px;
	}
}

@media (max-width:360px) {
	.slider-text {
		display: block !important;
	}

	.slider-text span {
		display: block;
		float: none;
		width: 170px !important;
	}

	.rev_slider .caption, .rev_slider .tp-caption {
		left: 40px;
		top: -17px;
	}

	.slider-text span a {
		font-size: 12px !important;
	}

}

@media (max-width:320px) {
	.welcome-section .fusion-column {
		padding: 0px 8%;
	}

	#main, #slidingbar, .fusion-footer-copyright-area, .fusion-footer-widget-area, .fusion-page-title-bar, .fusion-secondary-header, .header-v4 #small-nav, .header-v5 #small-nav, .sticky-header .sticky-shadow, .tfs-slider .slide-content-container {
		padding-left: 10px;
		padding-right: 10px;
	}

	.shop_table .product-thumbnail img {
		width: 90px !important;
	}

	.notification .dropdown-menu {
		margin-top: 8px;
	}

	.fusion-logo img {
		height: 29px !important;
	}

}

@media (max-width:479px){

	.mobileGorup .multiBtns {text-align: left;}
	html:not(.avada-has-site-width-percent) .page-template-NotaryFormNext #main, html:not(.avada-has-site-width-percent) .page-template-onMobileGroup #main  {padding-left: 15px;padding-right: 15px;}
}
