@media (min-width:1020px) and (max-width:1179px) {
	
}
@media (min-width:768px) and (max-width:1019px) {
	
}
@media all and (max-width:767px){
	
}
@media all and (min-width:600px) and (max-width:767px){
	
}

@media all and (min-width:480px) and (max-width:599px){
	
}
@media all and (max-width:479px){
	
}
@media (max-width:320px) {
	
}
